
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300;400;900&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lato&family=Merriweather:wght@300;400;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}
.banner-section{
margin: 20px 60px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


}
.banner-title{
    font-family: 'Merriweather';
    margin-top: -400px;
    color: #FFF;

text-align: center;

font-size: 32px;

font-weight: 400;

}
.banner-heading{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}

/* second-section styles */

.second-section{
    margin-top: 400px;
}
.discount{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 10px;
}
.discount-heading{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 10px;
}
.all-cat{
    text-align: center;
    color: #070211;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 10px;
}
.new-year-img{
    margin-left: 300px;
}

.party-banner{
    background-image:url('Vectorrr.png');
    height: 600px;
    width: 1300px;
    margin-top: 50px;
    margin-left: 60px;
    color: #FFF;
    display: flex;
    align-items: center;
   
}
.party-details{
    margin-left: 100px;
}
.party-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 10px;
}

.time-table{
    width: 1320px;
    height: 482px;
   
    color: #070211;
font-family: Inter;
font-size: 32px;
text-align: center;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-top: 100px;
}

.text{
    color: #F00;
}
button{
    padding: 16px 26px;
justify-content: center;
align-items: center;
background-color: #FF0000;
color: #FFF;
border-radius: 8px;

}
.new-year-offer{
    display: flex;
margin: auto 60px;
justify-content: space-between;
align-items: center;
}
.offer-text{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.soon{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.eclipse{
    width: 373px;
    height: 363px;
border-radius: 433px;
border: 15px solid #F00;
padding: 10px;

}
.year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}



.Holidays{
    text-align: center;
    margin-top: 150px;
   
}

.holiday-title{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 10px;
}
.holi-color{
    color: #F00;

}
.holi-heading{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* gift section style */
.gift{
  
    margin: 200px 60px 50px 60px;
}
.gift-title{
    color: #F00;
font-family: Inter;
font-size: 14px;
font-weight: 500;
}
.gift-heading{
    color: #070211;
font-family: Merriweather;
font-size: 38px;
font-weight: 900;
}

.gift-pic{
 
    margin: 50px 60px;
}
.subscribe{
text-align: center;
background-color:  rgba(255, 0, 0, 0.05);
margin: 50px 60px 50px 60px;
}
.sub-heading{
    margin-top: 10px;
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 10px;
}
.mail-pic{
    margin-top: 40px;
}
.input{
    padding: 18px;
    margin-top: 30px;
    border-radius: 50px;
}

footer{
    background-color: black;
    margin: 100px 60px 0 60px;
    color: #FFF;
}

.footer-heading{
 padding-top: 100px;
 margin: 0 60px 0 60px;
    display: flex;
    justify-content: space-between;
}

.location{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
}
.contact{
    display: flex;
    gap: 10px;
}

.media{
    margin-top: 100px;
    text-align: center;
   
}
.site{
    width: 44px;
height: 44px;
margin-right: 10px;

}

.rights{
    display: flex;
    justify-content: space-between;
    margin: 100px 60px 0  60px;
    padding-bottom: 50px;
}